<a href="https://colab.research.google.com/github/dhruvagrawA/Python__question_codes/blob/main/list_tuple_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = [10,20,30,40,'abc']
for i in range(len(x)):
    if(type(x[i]) == int):
        print(x[i])

10
20
30
40

In [ ]:
# Q1.Max number
mylist = [10,20,30,40,14]
max=mylist[0]
for index in range(len(mylist)):
 print("before---",mylist[index],max)
 if(mylist[index]>max):
      max=mylist[index]

 print("after------",mylist[index],max)

before--- 10 10
after------ 10 10
before--- 20 10
after------ 20 20
before--- 30 20
after------ 30 30
before--- 40 30
after------ 40 40
before--- 14 40
after------ 14 40

In [ ]:
mylist = [10,20,30,40,35]
max=mylist[0]
smax=0
for index in range(len(mylist)):

 if(mylist[index]>max):
  smax=max
  max=mylist[index]

 elif(mylist[index]>smax):
  smax=mylist[index]

print("values---",max,smax)

values--- 40 35

In [ ]:
#Q2.Total of list
x=[10,20,30,40,35]

total=0
for index in range(0,len(x)):
  total=total+x[index]
print(total)

135

In [ ]:
mylist = [10,20,30,40,35]
total = 0
for i in range(0,len(mylist)):
    total = total + mylist[i]
    print(mylist[i] , total)

10 10
20 30
30 60
40 100
35 135

In [ ]:
mylist=[10,20,30,40,35]
for i in range(0,1):
  for j in range(1,len(l1)):
    print(mylist[i],mylist[j])

10 20
10 30
10 40
10 35

In [ ]:
mylist=[10,20,30,40,35]
for i in range(0,len(mylist)):
  for j in range(i+1,len(mylist)):
    print(mylist[i],mylist[j])

10 20
10 30
10 40
10 35
20 30
20 40
20 35
30 40
30 35
40 35

In [ ]:
#Q6.target sum of values
mylist = [10,20,30,40,50]
target = 50
for i in range(len(mylist)):
 for j in range(i+1,len(mylist)):
  if(mylist[i]+mylist[j] == target):
   print(mylist[i],mylist[j])

10 40
20 30

In [ ]:
#Q3.revesre list
data = [1, 2, 3, 4, 5]
length = len(data)
print(length)
for i in range(length // 2):
  temp = data[i]

  data[i] = data[length - 1 - i]

  data[length - 1 - i] = temp

print(data)

5
[5, 4, 3, 2, 1]

In [ ]:
#Q4.ascending
x = [10, 90, 57, 0, -5]
min = x[0]
for i in range(len(x)):
  for j in range(i+1,len(x)):
    if(x[i]>x[j]):
      x[i],x[j] = x[j],x[i]
print(x)

[-5, 0, 10, 57, 90]

In [ ]:
# Q5.remove duplicates
x = [1, 2, 2, 3, 4, 4, 5]
for i in range(len(x)):
  for j in range(len(x)-1,i,-1):
    if(x[i] == x[j]):
       x.pop(j)
print(x)

[1, 2, 3, 4, 5]

In [ ]:
x = (10,20,"abc",10,10,40,90)
print(x.count(10))
print(x.index(40))

# x[0]=19  we cnt do insert , update , delete

3
5

In [ ]:
mydictionary={101:"tushar","salary":2000000,"email":"tushar@gmail.com"}
print(mydictionary)

{101: 'tushar', 'salary': 2000000, 'email': 'tushar@gmail.com'}

In [16]:
mydictionary={101:"tushar","salary":2000000,"email":"tushar@gmail.com"}
print(mydictionary["email"])

mydictionary["email"]="goyaltushar@gmail.com"
print(mydictionary)

mydictionary["age"]=25
print(mydictionary)


x=mydictionary.pop("email")    #to delete
print(mydictionary,x)


mydictionary.keys()

mydictionary.values()

tushar@gmail.com
{101: 'tushar', 'salary': 2000000, 'email': 'goyaltushar@gmail.com'}
{101: 'tushar', 'salary': 2000000, 'email': 'goyaltushar@gmail.com', 'age': 25}
{101: 'tushar', 'salary': 2000000, 'age': 25} goyaltushar@gmail.com

dict_values(['tushar', 2000000, 25])

In [17]:
mydic={10:"a",20:"b",30:"c"}
for i in mydic:           #loop
  print(i,mydic[i])

10 a
20 b
30 c

In [18]:
mydic={10:"a",20:"b",30:"c"}
for i in mydic.keys():
  print(i,mydic[i])

10 a
20 b
30 c

In [19]:
mydic={10:"a",20:"b",30:"c"}
for i in mydic.values():
  print(i)

a
b
c

In [25]:
# Q.total no of characters in string
s = "Raj5"
d = {'total':0}
for i in s:
    d["total"]+=1
print(d)

{'total': 4}

In [28]:
s = "abc"
d = {}
for i in s:
 d[i]=1
print(d)

{'a': 1, 'b': 1, 'c': 1}